<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings><!-- <add name="EmpresaContext" connectionString="metadata=res://*/Contexts.Empresa.Empresa.csdl|res://*/Contexts.Empresa.Empresa.ssdl|res://*/Contexts.Empresa.Empresa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.10.1.100;user id=root;database=OCO1522152;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UsuariosContext" connectionString="metadata=res://*/Contexts.Administracion.Usuarios.csdl|res://*/Contexts.Administracion.Usuarios.ssdl|res://*/Contexts.Administracion.Usuarios.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.10.1.72;user id=root;password=pwjr;database=Usuarios&quot;" providerName="System.Data.EntityClient" />
    <add name="EmpresaContext" connectionString="metadata=res://*/Contexts.Empresa.Empresa.csdl|res://*/Contexts.Empresa.Empresa.ssdl|res://*/Contexts.Empresa.Empresa.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.10.1.72;user id=root;password=pwjr;persistsecurityinfo=False;database=OCO160101&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminBD" connectionString="metadata=res://*/Contexts.AdminBD.csdl|res://*/Contexts.AdminBD.ssdl|res://*/Contexts.AdminBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.10.1.72;user id=root;database=Usuarios&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxUrlLength="1024" />
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <newtonsoftJsonBehavior />
          <crossOriginResourceSharingBehavior />
        </behavior>
        <behavior name="web_raw">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfCafica.ServiciosERP.WSMenu">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.IWSMenu" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSUsuarios">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSUsuarios" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSRoles">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSRoles" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSVistas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSVistas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSSistemas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSSistemas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSModulos">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSModulos" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSGruposVistas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSGruposVistas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSBDEmpresas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSBDEmpresas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSAccionesVistas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSAccionesVistas" />
      </service>
      <service name="WcfCafica.ServiciosERP.WSLogin">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.IWSLogin" />
      </service>
      <service name="WcfCafica.ServiciosERP.WSEmpresas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.IWSEmpresas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Administracion.WSTablas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Administracion.IWSTablas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSPaises">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSPaises" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSEstados">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSEstados" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSMunicipios">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSMunicipios" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSCiudades">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSCiudades" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSCodigosPostales">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSCodigosPostales" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSColonias">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSColonias" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSResponsables">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSResponsables" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSUnidades">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSUnidades" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSAreas">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSAreas" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSDepartamentos">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSDepartamentos" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSPuestos">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSPuestos" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSGrupoUnidades">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSGrupoUnidades" />
      </service>
        <service name="WcfCafica.ServiciosERP.Inventarios.WSTiposComponentes">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSTiposComponentes" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSComponentes">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="myBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSComponentes" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSGrupoComponentes">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSGrupoComponentes" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSConceptosES">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSConceptosES" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSSubGrupoComponentes">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSSubGrupoComponentes" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSAlmacenes">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSAlmacenes" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSTiposDocumentos">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSTiposDocumentos" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSESInventarios">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSESInventarios" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSESInventarioFisico">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSESInventarioFisico" behaviorConfiguration="web" />
      </service>
       <service name="WcfCafica.ServiciosERP.Inventarios.WSMarcasComponentes">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSMarcasComponentes" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSResguardos">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSResguardos" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Inventarios.WSDevoluciones">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Inventarios.IWSDevoluciones" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSUsuariosMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSUsuariosMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSMonedas">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSMonedas" behaviorConfiguration="web" />
      </service>
    <service name="WcfCafica.ServiciosERP.Generales.WSCodigosISOMonedas">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSCodigosISOMonedas" behaviorConfiguration="web" />
      </service>
   
      <service name="WcfCafica.ServiciosERP.Generales.WSImpuestos">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSImpuestos" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSTiposCambio">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSTiposCambio" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Compras.WSGrupoProveedores">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Compras.IWSGrupoProveedores" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSMovimientosMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSMovimientosMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSSociosMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSSociosMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSSaldosMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSSaldosMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSCentrosCanjeMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSCentrosCanjeMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSSolicitudesCanjeMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSSolicitudesCanjeMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSPremiosMonedero">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSPremiosMonedero" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
     <service name="WcfCafica.ServiciosERP.Generales.WSCondicionesPago">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSCondicionesPago" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Compras.WSProveedores">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Compras.IWSProveedores" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Generales.WSGiros">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Generales.IWSGiros" behaviorConfiguration="web" />
      </service>
      <service name="WcfCafica.ServiciosERP.Compras.WSOrdendeCompra">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Compras.IWSOrdendeCompra" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSCanjes">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSCanjes" behaviorConfiguration="web" bindingConfiguration="myBinding" />
      </service>
      <service name="WcfCafica.ServiciosERP.Ventas.WSActivacionesCorreos">
        <endpoint address="" binding="webHttpBinding" contract="WcfCafica.ServiciosERP.Ventas.IWSActivacionesCorreos" behaviorConfiguration="web_raw" bindingConfiguration="myBinding" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="WcfCafica.FormatterJsonNET.NewtonsoftJsonBehaviorExtension, WcfCafica, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="crossOriginResourceSharingBehavior" type="WcfCafica.FormatterJsonNET.EnableCrossOriginResourceSharingBehavior, WcfCafica, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <remove invariant="FirebirdSql.Data.FirebirdClient" /><add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" /></DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>